@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

body {
    background-color: #7fb1ca;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 1px;

    .g-ms {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        transform: translate3d(50vw, 50vh, 0);
        pointer-events: none;
        transition: all .1s ease-out;

        .g-ms_i {
            width: 40px;
            height: 40px;
            margin: -30px 0 0 -30px;
            border-radius: 30px;
            transition: all .1s ease;
            background: rgba(0, 0, 0, 0.404);
            opacity: 0;
        }
    }

    .g-ms.g-ms-active .g-ms_i {
        opacity: 1;
    }
}

header {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    position: sticky;
    width: 100%;

    .header-inner {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        padding: 20px;
        align-items: center;

        .logo {
            font-size: 1.5rem;
        }

        nav {
            margin-left: auto;

            ul {
                display: flex;
                gap: 40px;

                li {
                    letter-spacing: 5px;
                }
            }
        }
    }
}

footer {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;

    .footer-inner {
        padding: 10px 20px;
        max-width: 1000px;
        text-align: center;
        margin: 0 auto;
    }
}